@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Numans&display=swap');

:root {
    --cinza-claro: #F9F9F9;
    --cinza-escuro: #8A8A8A;
    --coral: #F55B64;
    --ocre: #C2373F;
    --marinho: #131730;
    --bg-degrade: linear-gradient(to bottom, #000000, #26327F);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: lightblue;
    text-decoration: none;
}

body {
    min-height: 100svh;
    font-family: "Numans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: var(--bg-degrade);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    width: 90%;
    max-width: 440px;
    margin: auto;
    padding: 3.5rem 1rem;
    background-color: #FFF;
    border-radius: 16px;
    text-align: center;
    user-select: none;
}

.logo {

    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.form #input {
    font-family: "Numans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 24px;
    padding-inline: 1rem;
    padding-block: .75rem;
    border: 1px solid var(--marinho);
    outline: none;
}

.form #input::placeholder {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    color: var(--cinza-escuro);
}

.form #input:focus {
    border-color: var(--ocre);
}

.form #btn-submit {
    max-width: 140px;
    margin: auto;
    padding: 1rem .75rem;
    cursor: pointer;
    color: #FFF;
    font-family: "Numans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    background-color: var(--coral);
    border-radius: 24px;
}

.items-list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.items-list__header__title {
    text-align: left;
    color: var(--coral);
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

.items-list__description {
    text-align: left;
    color: var(--marinho);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.divisor {
    border: 1px dotted var(--coral);
    margin-bottom: 1.5rem;
}

.items-list__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.items-list__item .item--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
}

.checkbox {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.checkbox:checked {
    accent-color: var(--marinho);
}

.items-list__item .item--name {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.25rem;
}

.items-list__item .item--info {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.items-list__item .item--options {
    user-select: none;
    padding-inline: .5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.items-list__item .item--delete,
.items-list__item .item--edit {
    max-width: 100%;
    cursor: pointer;
}

.items-list__item .item--timing {
    text-align: left;
    font-size: .75rem;
    line-height: 1.25rem;
}


footer {
    width: 100%;
    padding: 1rem;
    /* position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}

.footer__description {
    text-align: center;
    font-size: .75rem;
    line-height: 1.25rem;
    color: #DBE4EF;
}



@media screen and (min-width: 500px) {
    .container {
        padding-inline: 3.5rem;
    }
}