@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Numans&display=swap');

:root {
    --cinza-claro: #F9F9F9;
    --cinza-escuro: #8A8A8A;
    --coral: #F55B64;
    --ocre: #C2373F;
    --marinho: #131730;
    --bg-degrade: linear-gradient(to bottom, #000000, #26327F);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: lightblue;
    text-decoration: none;
}

body {
    min-height: 100svh;
    padding-block: 1rem;
    font-family: "Numans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: var(--bg-degrade);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.container {
    width: 90%;
    max-width: 440px;
    margin: auto;
    padding: 2rem 1.5rem 4rem 1.5rem;
    background-color: #FFF;
    border-radius: 16px;
    text-align: center;
    user-select: none;
    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.2);
}

.logo {
    max-height: 200px;
    margin-bottom: 1.5rem;
    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.25));
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.form #input {
    font-family: "Numans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 16px;
    padding-inline: 1rem;
    padding-block: .75rem;
    border: 2px solid var(--coral);
    outline: none;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.form #input::placeholder {
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-size: .875rem;
    color: var(--cinza-escuro);
}

.form #input:focus {
    border: 2px solid var(--marinho);
}

.form__buttons {
    display: flex;
    justify-content: space-around;
}

.form-btn:focus {
    outline: 2px solid var(--marinho);
}

.form-btn {
    padding: .5rem 1rem;
    cursor: pointer;
    color: #FFF;
    font-family: "Numans", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    outline: none;
    background-color: var(--coral);
    border-radius: 12px;
}

.items-list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.items-list__header__title {
    text-align: left;
    color: var(--coral);
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

.items-list__description {
    text-align: left;
    color: var(--marinho);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.divisor {
    border: 1px solid var(--coral);
    margin-bottom: 1.5rem;
}

.items-list__items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
}

.item__info {
    width: 100%;
    display: flex;
    gap: .75rem;
    align-items: center;
}

.checkbox {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.checkbox:checked {
    accent-color: var(--marinho);
}

.checkbox:checked~.item__name {
    text-decoration: line-through;
}

.item__name {
    flex-grow: 1;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-right: 2rem;
}

.item__options {
    user-select: none;
    display: flex;
    gap: 1rem;
}

.item__option {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: none;
    border: none;
}

.item__option--delete,
.item__option--edit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item__timing {
    text-align: left;
    font-size: .75rem;
    line-height: 1.25rem;
}

.purchased-item {
    text-decoration: line-through;
}


footer {
    width: 100%;
    padding: 1rem;
    /* position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}

.footer__description {
    text-align: center;
    font-size: .75rem;
    line-height: 1.25rem;
    color: #DBE4EF;
}



@media screen and (min-width: 500px) {
    .container {
        padding-inline: 3.5rem;
    }
}