/* modal  */
.modal-wrapper {
    display: none;
    width: 100svw;
    height: 100svh;
    position: absolute;
    animation: modalFade;
    animation-duration: .25s;
    animation-timing-function: ease;
}

@keyframes modalFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.is-open {
    display: block;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.modal-content {
    position: relative;
    max-width: 300px;
    margin-inline: 2.5rem;
    padding: 2rem;
    background-color: #FFF;
    border-radius: 8px;
    z-index: 100;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.modal-title {
    font-size: 1rem;
    /* letter-spacing: .5px; */
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .25rem;
    user-select: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .75;
}

.modal-close-btn::after {
    content: 'x';
    font-size: 1rem;
}

.modal-custom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modal-custom-content__description {
    font-size: .75rem;
    font-weight: 300;
    color: #8A8A8A;
    text-align: center;
}

.input--edit {
    font-family: "Numans",
        sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: .75rem;
    border: 2px solid #949494;
    outline: none;
    box-shadow: inset 2px 2px 4px #0000003d;
}

.modal-custom-content__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.modal-btn {
    user-select: none;
    padding: .5rem;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.modal-btn.modal-btn-cancel {
    background-color: var(--cinza-escuro);
}

.modal-btn.modal-btn-cancel:active {
    background-color: rgb(81, 81, 81);
}

.modal-btn.modal-btn-confirm {
    background-color: var(--ocre);
}

.modal-btn.modal-btn-confirm:active {
    background-color: #881f24;
}