/* Tippy tooltip */
.tippy-box[data-theme~='tomato'] {
    background-color: var(--coral);
    color: white;
    font-size: .75rem;
    font-weight: 600;
    opacity: .9;
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--coral);
}